.alert {
    position: relative;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.4rem;
    /*border: 1px solid transparent;*/
}

.alert--success {
    background-color: var(--primary-color-light);
    color: var(--primary-color-dark);
    /*border-color: var(--primary-color);*/
}

.alert--secondary {
    background-color: var(--secondary-color-light);
    color: var(--secondary-color-dark);
    /*border-color: var(--secondary-color);*/
}

.alert--danger {
    background-color: #FCA5A5;
    color: #DC2626;
    /*border-color: #EF4444;*/
}

.alert--info {
    background-color: #BFDBFE;
    color: #1D4ED8;
    /*border-color: #3B82F6;*/
}

.alert--warning {
    background-color: #FDE68A;
    color: #D97706;
    /*border-color: #F59E0B;*/
}

.alert__close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.75rem;
    background: none;
    border: none;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
}

.alert__link {
    font-weight: 600;
    color: inherit;
}