.unstyled--list {
    margin: 0;
    padding-left: 1.5rem;
    list-style-type: none;
}

.styled--square {
    list-style-type: square;
    padding-left: 1rem;
}

.stacked--list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid slategrey;
    border-radius: 0.5rem;
    padding: 0;
}

.stacked--list li{
    border-bottom: 1px solid var(--primary-color-light);
    padding: 1rem;
}