.modal{
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 5;
}

.modal.open {
    display: flex;
}

.modal--dialog {
    max-width: 30rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.25rem;
    padding: 0.75rem;
    z-index: 6;
}